*,
body,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  /* height: 100%; */
  /* max-height: 100vh; */
}

.container-fluid {
  height: 100%;
}

.header {
  text-align: center;
  padding: 10px 0;
  background-color: black;
  max-height: 10%;
}

.header h3 {
  font-size: 2rem;
  color: white;
}

.content {
  /* max-height: 90%; */
  background-color: white;
  /* padding: 7px 0; */
}


p {
  margin: 0px;
}

.sidebar {
  border-right: 2px solid #e6e6e6;
  text-align: center;
}

.sidebar p {
  font-weight: 500;
}

.array_size,
.algo_speed {
  margin: 20px 0;
}

.algo_buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.new_array button {
  width: 70%;
  border: none;
  background: none;
  margin: 20px 0px;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 2px 0px;
  font-weight: bold;
}

.new_array button:hover {
  background-color: black;
  /* border: 2px solid black; */
  color: white;
  border-radius: 5px;
}

.algo_buttons button,
.reload button {
  width: 60%;
  border: none;
  background: none;
  margin: 12px 0px;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 2px 0px;
  font-weight: bold;
}

.algo_buttons button:hover {
  background-color: black;
  border-radius: 5px;
  color: white;
}

 #area {
  display: flex;
  /* height: 100%; */
}

.new_array .button_locked {
  color: grey;
}

.new_array .button_locked:hover {
  background-color: white;
  color: grey;
  cursor: pointer;
}

.algo_buttons .button_locked {
  color: grey;
}

.algo_buttons .button_locked:hover {
  background-color: white;
  color: grey;
  cursor: pointer;
  
}

.algo_buttons .button_selected {
  background-color: black;
  border-radius: 5px;
  color: white;
}

.algo_buttons .button_selected:hover {
  background-color: black;
  border-radius: 5px;
  color: white;
}

#runTime{
  position: fixed;
  bottom: 15px;
  left:700px;
  
}